/*
Complementary: FFEB72, FFEF8B, 3B2CB2, B2A23E, 8172FF
Monochromatic: FFEB72, FFF6BE, 7F7B5F, 7F7539, CCBC5B
*/

$comp: #3B2CB2;

$mono_nn: #FFEB72;
$mono_n:  #FFF6BE;
$mono:    #7F7B5F;
$mono_p:  #7F7539;
$mono_pp: #CCBC5B;

$comp_nn: #FFEB72;
$comp_n:  #FFEF8B;
$comp:    #3B2CB2;
$comp_p:  #B2A23E;
$comp_pp: #8172FF;


$site_background: #FAFAFA;

$page_border_color: #000000;
$content_background_color: #F0F0F0;
$content_header_text_shadow_color: #333333;
$content_header_box_shadow_color: #CCCCCC;

$header_background_a: #1f1f1f;
$header_background_b: #363636;
$header_shadow_color: #000000;
$header_link_color: #333333;

$tag_background_color_a: #fafafa;
$tag_background_color_b: #c7c7c7;

$linkedin_color: #0073b2;
$linkedin_color_hover: #1e4f7e;
$github_color: #e5e5e5;
$github_color_hover: #AAAAAA;
$stackoverflow_color: #f09000;
$stackoverflow_color_hover: #e38000;
